body {
  background-color: #EFEFEF;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  overflow-x: hidden; /* Para evitar barras de desplazamiento horizontales */
}

.LogoNews {
  width: 100px;
  height: 100px;

}

a,
.nav-link {
  text-decoration: none; /* Para quitar el subrayado predeterminado */
}

.footer {
  border-top: 2px solid #222;
  text-align: center;
  padding: 10px;
  background: #E7F7FF;
}

a,
.container-header {
  color: #222;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-search{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 10px; /* Ajusta el margen superior según sea necesario */
  
}

.input-buscar{
  font-size: 18px;
  width: 500px; 
}

